/JavaApplication12/nbproject/private/
/ClinicaVeterinaria/nbproject/private/
/ClinicaVeterinariav2/nbproject/private/
/ClinicaVeterinariav2/build/
/P1SI440/nbproject/private/
/P1SI440/build/
/Veterinaria clinica/build/
/Veterinaria clinica/dist/